    *{  box-sizing: border-box;
        font-family: 'Roboto', sans-serif;       
        /*background-image: url("HRbZ.gif");*/
        /*background-color: whitesmoke;*/
    
    
    
    }

.title{
    height: 120px;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.dicas{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items:space-around;
    background-color:rgb(238, 248, 248);
    padding: 10px 20px;

}

.dicas > div {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(43, 226, 211);
    margin: 10px;
    padding: 10px 20px;
}

  
.capitais {
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items:space-around;
    background-color:rgb(238, 248, 248);
    padding:50px;
    
}

.capitais > div {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px 5px 15px blueviolet;
    margin: 10px;
    
}

.capitais img {
    border-radius: 20px 0 0 20px;
    height: 100%;
}


[data-icon]:before {
    font-family: icons;
    content: attr(data-icon);
    speak: none;
  }

.dicas i {
    border-radius: 20px 0 0 20px;
    height: 100%;
}


.capitais div div:last-child {
    width:150px;
    background-color:whitesmoke;
    padding:20px;
    border-radius:0 20px 20px 0;
    display:flex;
    justify-content:center;
    align-items:right;     
}


.dicas div div:last-child {
    width:150px;
    background-color:whitesmoke;
    padding:20px;
    border-radius:0 20px 20px 0;
    display:flex;
    justify-content: center;
    align-items:center;     
}

nav{
    display: flex;
}

nav a{
    padding: 20px;
    background-color: whitesmoke;
    margin: 2px;
    text-decoration: none;
    color: black;
    box-shadow: 2px 3px 3px lightgrey;
    border-radius: 5px;
   
    }

.menu a:last-child {
    margin-left: auto;
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    }

a{
    padding: 20px;
    text-decoration: none;
    color:blueviolet;
}

nav a:hover{
    background-color:#efefef;
    font-weight: bold;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    width:100%;
    background-color:whitesmoke;
    box-shadow: 15px 15px 15px blueviolet;
  }
  .wrapper > div img {
    max-width:100%;
    }

    div.relative {
        position: relative;
        top: 20px;    left: 100px;
        width: 400px; height: 400px;
        padding: 5px;
        background-color: salmon;
      }
      
    div.absolute {
        position: absolute;
        bottom: 0;   right: 20px;
        width: 350px;   height: 150px;
        padding: 5px;
        background-color: #cae8ca;
    }