* {
    font-family: 'Syne Mono', monospace;
}

.pinta{
    font-family: fantasy;
}

#unico {font-family: fantasy;}

#color_{
    color: orange;
}
#color_font_1{
    color: red;
    font-size: larger;
}

#color_background{
    background-color: gray;
}

#color_background_1{
    background-color: whitesmoke;
}

#color_background_2{
    background-color: yellowgreen;
}

#color_background_3{
    background-color: yellowgreen;
    font-size: large;
}


h1,h2,legend{
    background-color: greenyellow;
    color:blueviolet
   }

a:hover{
    background-color: blue;
}

.conteudo_poema:hover{
    background-color: palevioletred;
}

a:link {
    color: red;
  }
  
  
a:visited {
    color: green;
}
  

a:active {
    color: hotpink;
}

h3::first-letter {
    color: orange;
    font-size: xx-large;
}


h1,h3~p::first-letter {
    color: orange;
    font-size: xx-large;
}
  
h1,h3, h3~p::first-line {
    color:blueviolet;
    font-variant: small-caps;
}

p#conteudo {
    
    font-size:small;
    font-variant: small-caps;
    background-color:yellow; 
    color: blue;
}
  

.footerClass{
    text-align: right;
    color: brown;
}

.center {
    text-align: center;
}

#azureColor{
    background-color:azure;
}



