*{
    font-family: sans-serif;
}

.pinta{
    font-family: fantasy;
}

#unico {font-family: fantasy;}

[target="color_"]{
    color: orange;
}

[target="color_background"]{
    background-color: gray;
}

[target="color_background_1"]{
    background-color: whitesmoke;
}

[target="color_background_2"]{
    background-color: yellowgreen;
}



h1,h2{
    background-color: greenyellow;
   }

div :hover{
    background-color: blue;
}

p::first-letter {
    color: orange;
    font-size: xx-large;
  }
  
  p::first-line {
    color: blue;
    font-variant: small-caps;
  }

  * {font-family: 'Roboto', sans-serif;}
    
  div p {
    background-color: rgb(0, 255, 85);
  }

  div > p {
    background-color: orange;
  }

  div ~ p {
    background-color: rgb(255, 0, 234);
  }

  div + p {
    background-color: rgb(30, 255, 0);
  }

  div,p{ color: red; }

 

  .footerClass{
    text-align: right;
    color: brown;
}

.center {
    text-align: center;
}

#azureColor{
    background-color:azure;
}
